    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    $myFont: 'Roboto',
    sans-serif;
    $myColor:linear-gradient(#f99e49 0%,
    #ffad63 89.18%,
    #ffae64 100%);
    $myColorWhite:#ffffff;
    $myFontSize: 14px;
    $myWidth: 1280px;
    .container-fluid {
        max-width: $myWidth;
        padding: 0 40px;
        @media screen and (max-width: 991px) {
            padding: 0 24px;
        }
        @media screen and (max-width: 767px) {
            padding: 0 20px;
        }
        @media screen and (max-width: 575px) {
            padding: 0 15px;
        }
    }
    
    .container {
        @media screen and (max-width: 575px) {
            padding: 0 15px;
        }
    }
    
    // html {
    //     background-image: linear-gradient(#008fd5 0%, #40b9f3 100%);
    //     height: 100vh !important;
    // }
    body {
        height: 100vh;
        overflow: auto;
        color: #000;
        font-family: $myFont;
        // overflow-x: hidden;
        // max-width: 100%;
        background: #ffffff;
        @media screen and (max-width: 374px) {
            zoom: 0.9;
        }
    }
    
    a {
        color: #008FD5;
    }
    
     ::selection {
        color: #ffffff;
        background: #F89D48;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    .mt-5 {
        @media screen and (max-width: 767px) {
            margin-top: 24px !important;
        }
        @media screen and (max-width: 575px) {
            margin-top: 20px !important;
        }
        @media screen and (max-width: 413px) {
            margin-top: 15px !important;
        }
    }
    
    .mb-5 {
        @media screen and (max-width: 767px) {
            margin-bottom: 24px !important;
        }
        @media screen and (max-width: 575px) {
            margin-bottom: 20px !important;
        }
        @media screen and (max-width: 413px) {
            margin-bottom: 15px !important;
        }
    }
    
    .mb-4 {
        @media screen and (max-width: 575px) {
            margin-bottom: 20px !important;
        }
        @media screen and (max-width: 413px) {
            margin-bottom: 10px !important;
        }
    }
    
    button:focus,
    a:focus,
    .btn:focus,
    .form-control:focus {
        outline: none;
        box-shadow: none !important;
    }
    
     ::-webkit-scrollbar {
        width: 0;
    }
    
    .modal {
        .modal-dialog.modal-dialog-centered {
            max-width: 800px;
            .modal-content {
                height: 400px;
                overflow: auto;
                width: 800px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
                .modal-header {
                    border: none;
                    .close_icon {
                        float: right;
                        font-size: 1.5rem;
                        font-weight: 700;
                        line-height: 1;
                        color: #007bff;
                        text-shadow: 0 1px 0 #fff;
                        &::before {
                            opacity: .5;
                            content: url(../images/close_icon.svg);
                        }
                    }
                }
                .modal-body {
                    border: none;
                }
                .modal-footer {
                    margin: 0 auto;
                    border: none;
                    .model_button {
                        color: #ffffff;
                        padding: 10px 29px;
                        border-radius: 5px;
                        background: linear-gradient(#f99e49 0%, #ffad63 89.18%, #ffae64 100%);
                        box-shadow: 0px 5px 10px rgba(249, 158, 73, 0.2);
                        border: none;
                        &:hover {
                            -webkit-transform: translateY(-3px);
                            transform: translateY(-3px);
                            -webkit-transition-duration: 0.3s;
                            transition-duration: 0.3s;
                            -webkit-transition-property: transform;
                            transition-property: transform;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    
    .header {
        position: fixed;
        top: 0;
        z-index: 9;
        padding: 24px;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
        @media screen and (max-width: 1439px) {
            padding: 20px 0;
        }
        @media screen and (max-width: 991px) {
            div#navbarsExample03 {
                display: flex;
                flex: none;
            }
        }
        @media screen and (max-width: 767px) {
            background-color: #ffffff;
            padding: 20px 0px;
        }
        @media screen and (max-width: 575px) {
            padding: 15px 0px;
        }
        .logo {
            font-weight: 500;
            font-size: 20px;
            text-align: left;
            color: #000;
            @media screen and (max-width: 413px) {
                font-size: 18px;
            }
            strong {
                font-weight: 500;
                font-size: 20px;
                text-align: left;
                color: #f89d48;
            }
            @media screen and (max-width: 767px) {
                max-width: 100%;
            }
            @media screen and (max-width: 413px) {
                font-size: 18px;
            }
        }
        .custom_btn {
            padding: 8px 56px;
            background: #ffffff;
            border-radius: 5px;
            color: #F99E49;
            border: solid 2px #F99E49;
            box-shadow: 0px 5px 10px rgba(249, 158, 73, 0.3);
            &:hover {
                -webkit-transform: translateY(-3px);
                transform: translateY(-3px);
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: transform;
                transition-property: transform;
                background: #F99E49;
                color: rgb(255, 255, 255);
            }
            @media screen and (max-width: 767px) {
                padding: 8px 36px;
            }
            @media screen and (max-width: 413px) {
                padding: 5px 30px;
                font-size: 14px;
                border: solid 1.5px #F99E49;
            }
        }
    }
    
    .title {
        font-weight: 500;
        font-size: 38px;
        text-align: left;
        color: #000;
        @media screen and (max-width: 1439px) {
            font-size: 34px;
        }
        @media screen and (max-width: 767px) {
            font-size: 24px;
        }
        @media screen and (max-width: 575px) {
            font-size: 22px;
        }
        @media screen and (max-width: 413px) {
            font-size: 20px;
        }
    }
    
    .body_text {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: #000;
        opacity: 0.4;
        margin-right: 10vh;
        @media screen and (max-width: 1279px) {
            margin-right: 20vh;
        }
        @media screen and (max-width: 767px) {
            margin-right: 0;
        }
        @media screen and (max-width: 413px) {
            font-size: 14px;
        }
        @media screen and (max-width: 374px) {
            font-size: 13px;
        }
    }
    
    .custom_btn {
        color: $myColorWhite;
        padding: 12px 83px;
        border-radius: 5px;
        background: linear-gradient(#f99e49 0%, #ffad63 89.18%, #ffae64 100%);
        box-shadow: 0px 5px 10px rgba(249, 158, 73, 0.2);
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        &:hover {
            -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            color: $myColorWhite;
        }
        @media screen and (max-width: 767px) {
            padding: 0x;
            margin-left: 10px;
        }
        @media screen and (max-width: 575px) {
            padding: 10px 24px;
            font-size: 14px;
        }
        @media screen and (max-width: 413px) {
            padding: 9px 20px;
            font-size: 14px;
        }
    }
    
    .continue_btn {
        padding: 12px 73px;
        border-radius: 5px;
        background: linear-gradient(90deg, #008fd5 0%, #40b9f3 100%);
        box-shadow: 0px 8px 16px rgba(0, 143, 213, 0.1);
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        &:hover {
            -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            background: linear-gradient( 90deg, #40b9f3 0%, #008fd5 100%);
            color: #fff;
        }
        @media screen and (max-width: 767px) {
            width: 100%!important;
            padding: 10px 0;
            margin-left: 5px;
        }
        @media screen and (max-width: 575px) {
            font-size: 14px;
        }
        @media screen and (max-width: 413px) {
            font-size: 14px;
        }
    }
    
    .back_arrow {
        font-weight: 500;
        font-size: 18px;
        text-align: left;
        color: #000;
        cursor: pointer;
        @media screen and (max-width: 767px) {
            font-size: 0;
        }
        &::before {
            content: url("../images/back_arrow_black.svg");
            top: 4px;
            position: relative;
            margin-right: 10px;
            @media screen and (max-width: 767px) {}
        }
    }
    
    .custom-file {
        @media screen and (max-width: 767px) {
            zoom: 0.8;
        }
        @media screen and (max-width: 413px) {
            margin-bottom: 10px;
            zoom: 0.7;
        }
        input#customFile {
            display: none !important;
        }
        .profile_place_holder {
            position: relative;
            z-index: 0;
            &::after {
                content: url(../images/edit_pen.svg);
                bottom: 0;
                position: absolute;
                right: -6px;
                cursor: pointer;
            }
            &:hover {
                zoom: 101%;
            }
        }
    }
    
    .select_color {
        position: relative;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        &::after {
            content: url(../images/dropdown_arrow.svg);
            zoom: 0.9;
            position: absolute;
            top: 10px;
        }
        .input_color {
            border-radius: 5px;
            border: none;
            background: #ffffff;
            height: 40px;
            padding: 0;
            margin: 0;
            &::focus {
                border: none !important;
            }
        }
    }
    
    .head_title {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #000;
        @media screen and (max-width: 767px) {
            margin-right: -20px !important;
        }
        @media screen and (max-width:575px) {
            font-size: 16px;
        }
        @media screen and (max-width: 319px) {
            font-size: 14px;
        }
    }
    
    .contain {
        .verified {
            position: relative;
            width: fit-content;
            &:before {
                content: url(../images/verified_icon.svg);
                top: 0;
                right: -24%;
                position: absolute;
                @media screen and (max-width: 575px) {
                    right: -20%;
                    zoom: 0.8;
                }
            }
        }
    }
    
    .sup_int_logo_bg {
        padding: 6vh 0;
        opacity: 0.30;
        filter: grayscale(100%);
        zoom: 0.8;
        @media screen and (max-width: 1365px) {
            padding: 3vh 0 6vh 0;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    
    .form-row {
        @media screen and (max-width: 575px) {
            padding: 0 10px;
        }
        label {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            text-align: left;
            color: #000;
            opacity: 0.5;
            @media screen and (max-width: 413px) {
                font-size: 12px;
                line-height: 12px;
            }
        }
        .form-control {
            padding: 10px;
            height: 48px;
            border-radius: 5px;
            background: #ffffff;
            border: 1px solid #B1B1B1;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            text-align: left;
            color: #000;
            @media screen and (max-width: 575px) {
                // padding: 22px 18px;
            }
            @media screen and (max-width: 413px) {
                padding: 0px 14px;
                font-size: 14px;
                height: 40px;
            }
            &:focus {
                -webkit-transform: translateY(-1px);
                transform: translateY(-1px);
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: transform;
                transition-property: transform;
                background: #ffffff30;
            }
        }
        .col-md-6.mb-4.pr-lg-4.pr-md-3.pr-sm-0,
        .col-md-6.mb-4.pl-lg-4.pl-md-3.pl-sm-0 {
            @media screen and (max-width: 767px) {
                padding: 0 !important;
            }
        }
    }
    
    .index_main {
        section {
            margin: 0 auto;
            background: url(../images/bg_square.svg) no-repeat;
            background-position-y: 18vh;
            background-position-x: right;
            .create_text {
                padding: 16vh 0 0;
                @media screen and (max-width: 1919px) {
                    padding: 11vh 0 0;
                }
                @media screen and (max-width: 1439px) {
                    padding: 4vh 0 0;
                    margin: -20px 0;
                }
                @media screen and (max-width: 1365px) {
                    margin: 0 20px;
                    padding: 7vh 0 0;
                }
                @media screen and (max-width: 1279px) {
                    margin: 0;
                    margin: 0px 20px;
                    padding: 3vh 0 0;
                }
                @media screen and (max-width: 575px) {
                    margin: 0;
                    padding: 10vh 0 0;
                }
                .row.d-flex.align-items-center {
                    @media screen and (max-width: 1279px) {
                        flex-direction: column-reverse;
                    }
                }
                .images1 {
                    @media screen and (max-width: 991px) {
                        height: 50vh;
                        width: 100%;
                        margin-top: 4vh;
                    }
                }
                @media screen and (max-width: 767px) {
                    .custom_btn {
                        margin-left: 0px;
                    }
                }
            }
            .owl-carousel {
                // border-top: #b3b3b3 solid 1px;
                opacity: 0.4;
                padding: 0 4vh 0;
                margin-top: 4vh;
                @media screen and (max-width: 1439px) {
                    margin: -40px 0;
                }
                .item {
                    opacity: 0.40;
                    -webkit-filter: grayscale(1000%);
                    filter: grayscale(1000%);
                }
                @media screen and (max-width: 1279px) {
                    margin: 100px 0;
                }
                @media screen and (max-width: 991px) {
                    margin: 80px 0 40px;
                }
                @media screen and (max-width: 575px) {
                    margin: 40px 0 30px;
                }
            }
        }
    }
    
    .login {
        .header {
            padding: 31px 0 !important;
            @media screen and (max-width: 1439px) {
                padding: 27px 0 !important;
            }
            @media screen and (max-width: 1365px) {
                padding: 27px 0px !important;
            }
            @media screen and (max-width: 767px) {
                padding: 27px 0px !important;
            }
            @media screen and (max-width: 575px) {
                padding: 22px 0px !important;
            }
            @media screen and (max-width: 413px) {
                padding: 20px 0px !important;
            }
        }
        .login_main {
            background: url(../images/bg_square.svg) no-repeat;
            background-position-y: bottom;
            background-position-x: 15vh;
            @media screen and (max-width: 767px) {
                background-position-y: 2vh;
                background-position-x: 44vh;
                background-size: 12vh;
            }
            .login_text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: max-content;
                @media screen and (max-width: 1279px) {
                    width: 60%;
                }
                @media screen and (max-width: 1023px) {
                    width: 100%;
                    padding: 0 40px;
                }
                @media screen and (max-width: 991px) {
                    width: 80%;
                    padding: 0 40px;
                }
                @media screen and (max-width: 767px) {
                    width: 100%;
                    padding: 0 30px;
                }
                @media screen and (max-width:575px) {
                    width: 100%;
                    padding: 0 15px;
                    top: 48%;
                }
                @media screen and (max-width:413px) {
                    top: 50%;
                }
                span.back_arrow {
                    font-weight: 500;
                    font-size: 18px;
                    text-align: left;
                    color: #008fd5;
                    cursor: pointer;
                    &::before {
                        content: url("../images/back_arrow.svg");
                        top: 3px;
                        position: relative;
                        margin-right: 10px;
                    }
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
                .body_text {
                    opacity: 0.6 !important;
                    @media screen and (max-width: 1279px) {
                        margin-right: 10vh;
                    }
                    @media screen and (max-width: 575px) {
                        margin-right: 0;
                    }
                }
                .custom_btn {
                    padding: 10px 57px !important;
                    margin-left: 0px;
                    @media screen and (max-width: 413px) {
                        padding: 7px 37px !important;
                        font-size: 14px;
                    }
                }
                form {
                    margin: 100px 0 80px 0;
                    @media screen and (max-width: 1439px) {
                        margin: 40px 0 50px 0;
                    }
                    @media screen and (max-width: 767px) {
                        margin: 40px 0 100px 0;
                    }
                    @media screen and (max-width: 575px) {
                        margin: 40px 0 40px 0;
                    }
                    label {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 21px;
                        text-align: left;
                        color: #000;
                        opacity: 0.5;
                    }
                    .form-control {
                        height: 48px;
                        border-radius: 5px;
                        background: #ffffff;
                        border: 1px solid #B1B1B1;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 21px;
                        text-align: left;
                        color: #000;
                        @media screen and (max-width: 413px) {
                            height: 40px;
                        }
                    }
                }
                .sup_int_logo {
                    @media screen and (max-width: 1279px) {
                        margin-top: 6vh;
                    }
                    @media screen and (max-width: 575px) {
                        margin-top: 20px;
                        height: 60px;
                    }
                }
            }
        }
        footer {
            position: fixed !important;
            // @media screen and (max-width: 991px) {
            //     position: absolute;
            //     z-index: 1;
            // }
            // @media screen and (max-width: 575px) {
            //     position: absolute;
            //     overflow: auto;
            // }
        }
    }
    
    .dashboard {
        .header {
            padding: 17px 0;
            @media screen and (max-width: 1919px) {
                padding: 12px 0px;
            }
            @media screen and (max-width: 767px) {
                padding: 15px 0px;
            }
            @media screen and (max-width: 575px) {
                padding: 10px 0px;
            }
        }
        .main_dashboard {
            @media screen and (max-width: 1365px) {
                margin: 0 15px;
            }
            @media screen and (max-width: 1279px) {
                margin: 0;
            }
            @media screen and (max-width: 991px) {
                margin: 0 15px;
            }
            @media screen and (max-width: 767px) {
                margin: 0 10px;
            }
            @media screen and (max-width: 575px) {
                margin: 0 0;
            }
            .dashboard_content {
                @media screen and (max-width: 575px) {
                    .d-flex.bd-highlight {
                        display: inline-block !important;
                    }
                }
                padding-top: 16vh;
                @media screen and (max-width: 767px) {
                    padding-top: 12vh;
                }
                @media screen and (max-width: 575px) {
                    padding-top: 14vh;
                }
                .dashboard_title {
                    font-size: 28px;
                    text-align: left;
                    color: #000;
                    font-weight: 600;
                    @media screen and (max-width: 1439px) {
                        font-size: 24px;
                        line-height: revert;
                    }
                    @media screen and (max-width: 767px) {
                        font-size: 20px;
                        margin-top: 10px;
                    }
                    @media screen and (max-width: 575px) {
                        font-size: 18px;
                        margin-top: 0;
                        line-height: 24px;
                    }
                }
                .my_calander {
                    &::after {
                        content: "";
                        display: none;
                    }
                    svg {
                        margin-left: 10px;
                    }
                }
                .add_doctor_btn {
                    padding: 10px 33px;
                    border-radius: 5px;
                    background: linear-gradient(90deg, #008fd5 0%, #40b9f3 100%);
                    box-shadow: 0px 8px 16px rgba(0, 143, 213, 0.1);
                    font-weight: 500;
                    font-size: 16px;
                    color: #fff;
                    @media screen and (max-width: 575px) {
                        padding: 8px 20px;
                        font-size: 14px;
                        width: max-content;
                    }
                    &::after {
                        content: "+";
                        top: 4px;
                        left: 12px;
                        position: relative;
                        font-size: 30px;
                        font-weight: 300;
                        line-height: 0;
                        @media screen and (max-width: 575px) {
                            top: 3px;
                            font-size: 24px;
                            left: 9px;
                        }
                    }
                    &:hover {
                        -webkit-transform: translateY(-3px);
                        transform: translateY(-3px);
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-property: transform;
                        transition-property: transform;
                        background: linear-gradient( 90deg, #40b9f3 0%, #008fd5 100%);
                    }
                }
                .dashboard_box1 {
                    padding: 16px 30px;
                    border-radius: 5px;
                    background: #ffffff;
                    border: 1px solid #d8d8d8;
                    border-radius: 5px;
                    border-bottom: solid 10px #F99E49;
                    box-shadow: 0px 3px 6px #0000000f;
                    .body_text {
                        max-width: 100% !important;
                        opacity: 0.6 !important;
                    }
                }
                .dashboard_box2 {
                    padding: 16px 30px;
                    border-radius: 5px;
                    background: #ffffff;
                    border: 1px solid #d8d8d8;
                    border-radius: 5px;
                    border-bottom: solid 10px #40B9F3;
                    box-shadow: 0px 3px 6px #0000000f;
                    .body_text {
                        max-width: 100% !important;
                        opacity: 0.6 !important;
                    }
                }
            }
            .dashboard_content2 {
                margin-top: 10vh;
                @media screen and (max-width: 1023px) {
                    margin-top: 8vh;
                }
                .all_doctors {
                    font-weight: 500;
                    font-size: 20px;
                    @media screen and (max-width: 1439px) {
                        font-size: 18px;
                    }
                    @media screen and (max-width: 575px) {
                        font-size: 16px;
                    }
                    @media screen and (max-width:413px) {
                        font-size: 14px;
                    }
                }
                .view_all {
                    font-weight: 500;
                    font-size: 16px;
                    color: #f99e49;
                }
                .dashboard_backgraound {
                    max-height: 400px;
                    overflow: auto;
                    cursor: grab;
                    padding: 15px 10px;
                    max-width: auto;
                    height: auto;
                    border-radius: 5px;
                    background: #ffffff;
                    border: 1px solid #d8d8d8;
                    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.02);
                    @media screen and (max-width: 575px) {
                        padding: 6px 6px;
                    }
                    .place_holder {
                        padding-right: 20px !important;
                        height: 50px;
                        @media screen and (max-width: 575px) {
                            padding-right: 12px !important;
                            height: 44px;
                        }
                    }
                    .contain {
                        max-width: 60%;
                        h6 {
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 26px;
                            @media screen and (max-width: 575px) {
                                font-size: 16px;
                            }
                        }
                        p {
                            font-size: 16px;
                            color: #000;
                            opacity: 0.4;
                            height: 26px;
                            overflow: hidden;
                            white-space: nowrap;
                            @media screen and (max-width: 575px) {
                                font-size: 14px;
                            }
                        }
                    }
                    .view_details {
                        font-size: 14px;
                        color: #000;
                        opacity: 0.9;
                        &:hover {
                            opacity: 1;
                            -webkit-transform: translateY(-3px);
                            transform: translateY(-3px);
                            -webkit-transition-duration: 0.3s;
                            transition-duration: 0.3s;
                            -webkit-transition-property: transform;
                            -webkit-transition-property: -webkit-transform;
                            transition-property: -webkit-transform;
                            transition-property: transform;
                            transition-property: transform, -webkit-transform;
                        }
                        @media screen and (max-width: 575px) {
                            margin-left: -6px !important;
                        }
                        @media screen and (max-width:374px) {
                            margin-left: 22px !important;
                        }
                    }
                    .d-flex.align-items-center {
                        padding: 4px 14px;
                        @media screen and (max-width: 1279px) {
                            padding: 4px 10px;
                        }
                        @media screen and (max-width: 575px) {
                            padding: 2px 10px;
                        }
                        // &:hover {
                        //     background-color: #f99e4926;
                        //     cursor: pointer;
                        //     border-radius: 8px;
                        // }
                    }
                }
            }
        }
        footer {
            position: unset;
            z-index: 1;
            @media screen and (max-width: 1279px) {
                position: absolute;
            }
            @media screen and (max-width: 1023px) {
                position: sticky;
            }
            @media screen and (max-width: 991px) {
                position: relative;
            }
            @media screen and (max-width: 575px) {
                margin-top: 40px !important;
            }
        }
    }
    
    .main_add_new_doctor {
        @media screen and (max-width: 767px) {
            .continue_btn, .custom_btn {
                width: 160px !important;
                padding: 10px 0;
            }
        }
        .dashboard_content {
            padding-top: 20vh;
            padding-bottom: 5vh;
            @media screen and (max-width: 1919px) {
                padding-bottom: 0;
            }
            @media screen and (max-width: 1439px) {
                padding-top: 18vh;
                .col-sm.mb-5 {
                    margin-bottom: 1rem!important;
                }
            }
            @media screen and (max-width: 1279px) {
                padding-bottom: 16vh;
            }
            @media screen and (max-width: 991px) {
                padding-top: 16vh;
                padding-bottom: 0vh;
            }
            @media screen and (max-width:767px) {
                padding-top: 12vh;
                padding-bottom: 6vh;
            }
            @media screen and (max-width: 575px) {
                padding-top: 14vh;
            }
            .back_arrow {
                font-weight: 500;
                font-size: 20px;
                text-align: left;
                color: #000;
                cursor: pointer;
                @media screen and (max-width: 767px) {
                    font-size: 18px;
                }
                @media screen and (max-width: 575px) {
                    font-size: 16px;
                }
                &::before {
                    content: url("../images/back_arrow_black.svg");
                    top: 3px;
                    position: relative;
                    margin-right: 10px;
                    @media screen and (max-width: 575px) {
                        top: 4px;
                    }
                }
            }
        }
        .form-row {
            @media screen and (max-width: 767px) {
                width: 100%;
                margin: 0 auto;
            }
        }
        footer {
            z-index: 1;
            position: absolute;
            @media screen and (max-width: 1919px) {
                position: absolute;
            }
            @media screen and (max-width: 1439px) {
                position: static;
            }
            @media screen and (max-width: 1365px) {
                position: absolute;
            }
            @media screen and (max-width: 1279px) {
                position: absolute;
            }
            @media screen and (max-width: 767px) {
                position: static;
            }
        }
    }
    
    .view_profile {
        @media screen and (max-width: 767px) {
            form.needs-validation.m-0 {
                margin-top: 20px !important;
            }
            .custom-file,
            .continue_btn {
                margin-left: 10px;
            }
            .continue_btn {
                width: 160px !important;
                padding: 10px 0;
            }
        }
        .profile_place_holder::after {
            display: none;
        }
        .form-row .form-control {
            opacity: 0.5;
            &:focus {
                background: #ffffff;
            }
        }
    }
    
    .edit_profile {
        @media screen and (max-width: 767px) {
            form.needs-validation.m-0 {
                margin-top: 20px !important;
            }
            .custom-file,
            .custom_btn {
                margin-left: 10px;
            }
            .custom_btn {
                width: 160px !important;
                padding: 10px 0;
            }
        }
        .profile_place_holder::after {
            display: unset;
        }
        .form-row .form-control {
            opacity: 1;
            &:focus {
                background: #f99e4926;
            }
        }
    }
    
    .doctor_bussiness_card {
        overflow: hidden;
        @media screen and (max-width: 1919px) {
            overflow: auto;
        }
        .dropdown {
            @media screen and (max-width: 413px) {
                zoom: 0.8;
            }
            .dropdown-togglee::after {
                display: inline-block;
                margin-left: .255em;
                content: url("../images/dropdown_arrow.svg");
                zoom: 0.9;
            }
            .user_name {
                float: left;
                margin: 20px;
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
            .dropdown-menu {
                position: absolute;
                right: 0;
                left: unset;
                padding: 0px 36px;
                background: #fff;
                box-shadow: 0 0 32px rgba(75, 75, 75, 0.2);
                border: none;
                .profile_popup {
                    padding: 26px;
                    border-bottom: #4b4b4b33 solid 1px;
                    .user_profile_img {
                        height: 100px;
                    }
                    .user_profile_name {
                        margin-top: 20px;
                        font-weight: 500;
                        font-size: 22px;
                        text-align: center;
                        color: #000;
                        text-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
                    }
                    .user_profile_email {
                        opacity: 0.7;
                        margin: 10px 0 20px 0;
                    }
                    .view_profile {
                        border-radius: 5px;
                        padding: 7px 32px;
                        background: #008fd5;
                        font-weight: 500;
                        font-size: 16px;
                        text-align: center;
                        color: #fff;
                        &:hover {
                            -webkit-transform: translateY(-3px);
                            transform: translateY(-3px);
                            -webkit-transition-duration: 0.3s;
                            transition-duration: 0.3s;
                            -webkit-transition-property: transform;
                            transition-property: transform;
                        }
                    }
                }
                .logout_popup {
                    padding: 20px;
                    .logout {
                        font-weight: 500;
                        font-size: 18px;
                        text-align: left;
                        color: #000;
                        text-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
                    }
                }
            }
        }
        .mobile_container {
            padding-top: 14vh;
            @media screen and (max-width: 1919px) {
                padding-top: 20vh;
                zoom: 0.85;
            }
            @media screen and (max-width: 1439px) {
                padding-bottom: 10vh;
            }
            @media screen and (max-width: 1365px) {
                padding-top: 16vh;
                zoom: 0.85;
                padding-bottom: 10vh;
            }
            @media screen and (max-width: 1279px) {
                zoom: 1;
                padding-bottom: 0vh;
            }
            @media screen and (max-width: 767px) {
                padding-top: 0;
            }
            .mobile_content {
                .cover_header {
                    position: relative;
                    .cover_edit_icon {
                        position: absolute;
                        right: 0;
                        margin: 15px;
                        cursor: pointer;
                        @media screen and (max-width: 767px) {
                            bottom: 0;
                        }
                        @media screen and (max-width: 575px) {
                            margin: 10px;
                        }
                        @media screen and (max-width:413px) {
                            zoom: 0.9;
                        }
                    }
                }
                border: 1px solid #ccc;
                position: relative;
                max-width: 413px;
                height: 736px;
                border-radius: 5px;
                background: #fff;
                box-shadow: 0px 16px 64px rgba(0,
                0,
                0,
                0.06);
                margin: 0 auto;
                overflow: hidden;
                @media screen and (max-width: 1919px) {}
                @media screen and (max-width: 1279px) {}
                @media screen and (max-width: 767px) {
                    max-width: 100%;
                    height: 100vh;
                }
                @media screen and (max-width: 374px) {
                    height: 111vh;
                }
                .cover_image {
                    border-radius: 5px 5px 0 0;
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 575px) {}
                }
                .doctor_details {
                    position: absolute;
                    top: 12vh;
                    right: 0;
                    left: 0;
                    @media screen and (max-width: 1439px) {
                        top: 20vh;
                    }
                    @media screen and (max-width: 1279px) {
                        top: 9vh;
                    }
                    @media screen and (max-width: 991px) {
                        top: 11vh;
                    }
                    @media screen and (max-width: 767px) {
                        top: 20vh;
                    }
                    @media screen and (max-width: 575px) {
                        top: 18vh;
                    }
                    img {
                        height: 100px;
                        @media screen and (max-width: 575px) {
                            height: 80px;
                        }
                    }
                    h2 {
                        font-size: 24px;
                        color: #000;
                        @media screen and (max-width: 575px) {
                            font-size: 20px;
                            line-height: 22px;
                            margin-top: 20px !important;
                        }
                        @media screen and (max-width: 374px) {
                            font-size: 20px;
                            line-height: 20px;
                            margin-top: 10px !important;
                        }
                    }
                    p {
                        opacity: 0.6;
                    }
                    .activities {
                        margin: -1px !important;
                        margin-top: 30px!important;
                        overflow: overlay;
                        height: 348px;
                        border-top: 1px solid #CCCCCC;
                        @media screen and (max-width: 767px) {}
                        ul {
                            li {
                                background: #fff;
                                outline: 1px solid #CCCCCC;
                                width: 102px;
                                height: 102px;
                                text-align: center;
                                margin: 0px !important;
                                display: inline-grid;
                                box-sizing: unset;
                                position: relative;
                                @media screen and (max-width: 767px) {
                                    width: 100%;
                                    height: 100%;
                                }
                                @media screen and (max-width: 799px) {}
                                @media screen and (max-width: 767px) {}
                                @media screen and (max-width: 575px) {}
                                a {
                                    margin: 22% 0;
                                    @media screen and (max-width: 767px) {
                                        margin: 34% 0;
                                    }
                                    @media screen and (max-width: 575px) {
                                        margin: 22% 0;
                                    }
                                    p {
                                        font-size: 13px;
                                        text-align: center;
                                        color: #000;
                                        margin-top: 7px !important;
                                        @media screen and (max-width: 1365px) {
                                            font-size: 14px;
                                        }
                                        @media screen and (max-width: 767px) {
                                            font-size: 14px;
                                            margin-top: 12px !important;
                                        }
                                        @media screen and (max-width: 575px) {
                                            font-size: 12px;
                                        }
                                    }
                                }
                                .verified {
                                    &::before {
                                        content: url(../images/verified_icon.svg);
                                        top: 8px;
                                        right: 8px;
                                        position: absolute;
                                    }
                                }
                            }
                        }
                    }
                }
                .button_div {
                    text-align: center;
                    height: 64px;
                    border-radius: 5px;
                    background: -webkit-gradient(linear, left top, left bottom, from(#f99e49), to(#ffae64));
                    background: linear-gradient(#f99e49 0%, #ffae64 100%);
                    position: absolute;
                    padding: 4px;
                    left: 0px;
                    right: 0;
                    bottom: 0;
                    @media screen and (max-width: 767px) {
                        position: fixed;
                    }
                    p {
                        font-size: 13px;
                        text-align: center;
                        color: #fff;
                    }
                    .active {
                        width: 100%;
                        border-radius: 5px;
                        background: #fff;
                        right: 4px;
                        position: sticky;
                        p {
                            color: #000;
                        }
                    }
                }
            }
            .sup_int_logo_bg {
                padding: 0 !important;
                margin: -50px!important;
                transform: translate(0px, -60px);
                @media screen and (max-width: 1919px) {
                    transform: translate(0px, -60px);
                }
                @media screen and (max-width:1365px) {
                    transform: translate(0px, -6vh);
                    margin: 0px !important;
                }
                @media screen and (max-width: 1279px) {
                    transform: translate(0px, 24vh);
                    margin: 0px !important;
                }
                @media screen and (max-width: 1023px) {
                    transform: translate(0px, 18vh);
                }
                @media screen and (max-width: 799px) {
                    display: none;
                }
            }
        }
        footer {
            z-index: 1;
            position: absolute;
            @media screen and (max-width: 1919px) {
                position: unset;
            }
            @media screen and (max-width: 1439px) {
                position: unset;
            }
            @media screen and (max-width:1365px) {
                position: static;
            }
            @media screen and (max-width: 1279px) {
                position: absolute;
            }
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    
    .dashboard_doctors_profile {
        border-radius: 5px;
        background: #ffffff;
        .doctors_profile {
            position: relative;
            .mobile_content {
                border-bottom: 10px solid #008FD5 !important;
                .cover_image {
                    border-radius: 5px 5px 0 0;
                    width: fit-content;
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
                .doctor_details {
                    top: 12vh;
                    @media screen and (max-width: 1439px) {
                        top: 17vh;
                    }
                    @media screen and (max-width: 1279px) {
                        top: 9vh;
                    }
                    @media screen and (max-width: 991px) {
                        top: 11vh;
                    }
                    @media screen and (max-width: 767px) {
                        top: 20vh;
                    }
                    @media screen and (max-width: 575px) {
                        top: 18vh;
                    }
                }
                .activities {
                    margin-top: 0px !important;
                    border-top: 20px solid #EAEAEA!important;
                    div#accordion-tab-1 {
                        overflow: scroll;
                        height: 34vh;
                        border-top: 10px solid #ffffff;
                        background: #ffffff;
                        @media screen and (max-width: 1919px) {
                            height: 44vh;
                        }
                        @media screen and (max-width: 1439px) {
                            height: 52vh;
                        }
                        @media screen and (max-width: 1365px) {
                            height: 40vh;
                        }
                        @media screen and (max-width: 991px) {
                            height: 34vh;
                        }
                        @media screen and (max-width: 767px) {
                            height: 44vh;
                        }
                        @media screen and (max-width: 575px) {
                            height: 54vh;
                        }
                        @media screen and (max-width: 413px) {
                            height: 50vh;
                        }
                        @media screen and (max-width: 374px) {
                            height: 58vh;
                        }
                    }
                    .card {
                        border: none;
                        background: #ffffff;
                        .card-header {
                            border: none;
                            background: #ffffff00;
                            z-index: 2;
                            button {
                                opacity: 1;
                                line-height: 0;
                                padding: 12px 4px !important;
                                width: 100%;
                                &::before {
                                    content: url("../images/dropdown_arrow.svg");
                                    opacity: 0.4;
                                    position: absolute;
                                    right: 20px;
                                    top: 28px;
                                    zoom: 0.9;
                                    cursor: pointer;
                                }
                            }
                        }
                        .card-body {
                            .place_holder {
                                height: 60px !important;
                            }
                            .exp_yr {
                                font-weight: 500;
                                font-size: 14px;
                                color: #f99e49;
                                opacity: 1;
                            }
                            .contain {
                                h6 {
                                    font-weight: 400;
                                }
                                p {
                                    line-height: 26px;
                                }
                                .designation {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                .button_edit_div {
                    text-align: right;
                    background: #eaeaea00;
                    // width: 100%;
                    // padding-top: 2vh;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 1;
                    .button_edit {
                        padding: 15px !important;
                        border-radius: 30px;
                        background: #f99e49;
                    }
                }
            }
        }
    }
    
    .doctors_profile_edit {
        @media screen and (max-width: 767px) {
            .continue_btn, .custom_btn {
                width: 160px !important;
                padding: 10px 0;
                margin-left: 5px;
            }
        }
        .dashboard_content {
            padding: 20vh 0 12vh 0 !important;
            @media screen and (max-width: 1919px) {
                padding: 20vh 0 9vh 0 !important;
            }
            @media screen and (max-width: 1439px) {
                padding: 20vh 0 0 0 !important;
            }
            @media screen and (max-width: 1365px) {
                padding: 20vh 0 15vh 0 !important;
            }
            @media screen and (max-width: 991px) {
                padding: 16vh 0 8vh 0 !important;
            }
            @media screen and (max-width: 575px) {
                padding: 12vh 0 0px 0 !important;
            }
        }
        footer {
            z-index: 1;
            position: absolute;
            @media screen and (max-width: 1919px) {
                position: absolute;
            }
            @media screen and (max-width: 1439px) {
                position: unset;
            }
            @media screen and (max-width:1365px) {
                position: static;
            }
            @media screen and (max-width: 1279px) {
                position: absolute;
            }
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
        // footer {
        //     z-index: 1;
        //     position: absolute;
        //     @media screen and (max-width: 1919px) {
        //         position: absolute;
        //     }
        //     @media screen and (max-width: 1439px) {
        //         position: fixed;
        //     }
        //     @media screen and (max-width: 1365px) {
        //         position: absolute;
        //     }
        //     @media screen and (max-width: 1279px) {
        //         position: static;
        //     }
        //     @media screen and (max-width: 991px) {
        //         position: absolute;
        //     }
        //     @media screen and (max-width: 767px) {
        //         position: absolute;
        //     }
        //     @media screen and (max-width: 575px) {
        //         position: absolute;
        //     }
        //     @media screen and (max-width: 413px) {
        //         position: absolute;
        //     }
        // }
    }
    
    .main_add_clinic_days_timings {
        @media screen and (max-width: 767px) {
            .continue_btn, .custom_btn {
                width: 160px !important;
                padding: 10px 0;
            }
        }
        .dashboard_content {
            padding: 14vh 0 0 0 !important;
            @media screen and (max-width: 767px) {
                padding: 14vh 0 10vh 0 !important;
            }
            .week {
                background: #008fd5;
                border-radius: 5px;
                .select_week {
                    padding: 22px 28px;
                    font-size: 16px;
                    color: #fff;
                    @media screen and (max-width: 767px) {
                        padding: 22px 11px;
                    }
                    @media screen and (max-width: 374px) {
                        padding: 22px 6px;
                    }
                    &:hover {
                        background: #F99E49;
                    }
                }
                .active {
                    background: #F99E49 !important;
                    border-radius: 0px;
                    font-weight: 500;
                    box-shadow: inset 0 0 3px 0px #fbb97c;
                }
                .focus {
                    outline: 0 !important;
                    box-shadow: none !important;
                }
            }
            .add_time {
                a {
                    span {
                        color: #008fd5;
                        opacity: 1;
                        font-size: 14px;
                    }
                }
            }
        }
        footer {
            position: static;
        }
    }
    
    .main_geolocation {
        .mobile_content {
            .accordion {
                border-top: none !important;
                .card-header {
                    button {
                        &:before {
                            content: url(../images/geolocation_icon.svg) !important;
                            opacity: 1 !important;
                            right: 0 !important;
                            top: 0 !important;
                            zoom: 1!important;
                            padding: 18px!important;
                            background: #F99E49;
                        }
                    }
                }
            }
        }
    }
    
    .main_clinic_address {
        button {
            &:before {
                transform: rotate(-90deg);
            }
        }
    }
    
    .main_clinic_address_view {
        .mobile_content {
            .button_edit_div {
                background: none !important;
            }
            .accordion {
                overflow: scroll;
                height: 43vh;
                border-top: 10px solid #f7f7f7;
                @media screen and (max-width: 767px) {
                    height: 54vh !important
                }
                .card-body {
                    .inner_card_body {
                        border-bottom: 1px solid #E4E4E4;
                        p:first-child {
                            opacity: 1 !important;
                        }
                        &:last-child {
                            border: none;
                        }
                    }
                }
                .card-body2 {
                    border-top: 10px solid #E4E4E4;
                    // border-bottom: 20px solid #E4E4E4;
                    .inner_card_body_contain {
                        padding-bottom: 26px;
                        padding-top: 10px;
                        p {
                            opacity: 1 !important;
                        }
                        .time_badge {
                            position: relative;
                            padding: 6px 36px 6px 14px;
                            border-radius: 15px;
                            border: 1.5px solid #d8d8d8;
                            margin-bottom: 1rem;
                            &::before {
                                content: url(../images/time_badge.svg);
                                position: absolute;
                                right: 14px;
                                top: 5px;
                                cursor: pointer;
                            }
                            @media screen and (max-width: 575px) {
                                font-size: 14px;
                            }
                            @media screen and (max-width: 374px) {
                                padding: 6px 32px 6px 14px;
                                font-size: 14px;
                            }
                        }
                    }
                    .week {
                        ul {
                            margin: 40px 0;
                            border-radius: 5px;
                            padding: 20px 0px;
                            padding: 0px 0px;
                            background: #008fd5;
                            li {
                                width: auto;
                                height: 100%;
                                font-size: 16px;
                                color: #fff;
                                outline: none;
                                a {
                                    margin: 0;
                                    padding: 22px 11px;
                                    background: #008fd5;
                                    color: #fff;
                                    border-radius: 0px !important;
                                    @media screen and (max-width: 991px) {
                                        padding: 22px 15px;
                                    }
                                    @media screen and (max-width:767px) {
                                        padding: 22px 28px;
                                    }
                                    @media screen and (max-width:575px) {
                                        padding: 22px 10px;
                                    }
                                    @media screen and (max-width: 413px) {
                                        padding: 22px 10px;
                                        font-size: 14px;
                                        line-height: 1;
                                    }
                                    @media screen and (max-width: 374px) {
                                        padding: 22px 10px;
                                        font-size: 13px;
                                    }
                                }
                                .active {
                                    padding: 22px 15px;
                                    background: #F99E49 !important;
                                    border-radius: 0px !important;
                                    font-weight: 500;
                                    -webkit-box-shadow: inset 0 0 3px 0px #fbb97c;
                                    box-shadow: inset 0 0 3px 0px #fbb97c;
                                    @media screen and (max-width: 767px) {
                                        padding: 22px 30px;
                                    }
                                    @media screen and (max-width:575px) {
                                        padding: 22px 16px;
                                    }
                                    @media screen and (max-width: 374px) {
                                        padding: 22px 13.5px;
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .main_clinic_address_edit {
        .dashboard_content {
            padding: 14vh 0 0 0 !important;
            @media screen and (max-width: 767px) {
                padding: 14vh 0 10vh 0 !important;
            }
            .week {
                background: #008fd5;
                border-radius: 5px;
                @media screen and (max-width: 374px) {
                    width: 94% !important;
                    margin: 0 auto !important;
                }
                span {
                    cursor: pointer;
                }
                .select_week {
                    padding: 12px 26px 8px;
                    font-size: 16px;
                    color: #fff;
                    @media screen and (max-width: 1023px) {
                        padding: 12px 16px 8px;
                    }
                    @media screen and (max-width: 767px) {
                        padding: 8px;
                    }
                    @media screen and (max-width: 374px) {
                        padding: 12px 5px;
                    }
                    &:hover {
                        background: #F99E49;
                    }
                    h6 {
                        font-weight: normal;
                        font-size: 13px;
                        color: #fff;
                        opacity: 0.8;
                        @media screen and (max-width: 374px) {
                            font-size: 10px;
                        }
                    }
                    span {
                        font-weight: normal;
                        font-size: 16px;
                        @media screen and (max-width: 374px) {
                            font-size: 13px;
                        }
                    }
                }
                .active {
                    background: #F99E49 !important;
                    border-radius: 0px;
                    font-weight: 500;
                    box-shadow: inset 0 0 3px 0px #fbb97c;
                }
                .focus {
                    outline: 0 !important;
                    box-shadow: none !important;
                }
            }
            .add_time {
                a {
                    span {
                        color: #008fd5;
                        opacity: 1;
                        font-size: 14px;
                    }
                }
            }
        }
        footer {
            position: static;
        }
    }
    
    .all_bussiness_card {
        .dashboard_content2 {
            margin-top: 15vh !important;
            @media screen and (max-width: 1279px) {
                margin-top: 15vh !important;
                margin-bottom: 24vh !important;
            }
            @media screen and (max-width: 991px) {
                margin-top: 10vh !important;
                margin-bottom: 2vh !important;
            }
            .dashboard_backgraound {
                max-height: 470px!important;
            }
        }
        @media screen and (max-width: 991px) {
            .form-row {
                padding: 30px 20px;
            }
        }
        .form-row .form-control {
            font-size: 14px;
            font-weight: 400;
            color: #000;
            opacity: 0.7;
            &:hover {
                font-weight: 400;
            }
        }
        footer {
            z-index: 1;
            position: relative;
            @media screen and (max-width: 1919px) {
                position: sticky;
            }
            @media screen and (max-width: 1439px) {
                position: static;
            }
            @media screen and (max-width: 1279px) {
                position: relative;
            }
            @media screen and (max-width: 767px) {
                position: relative;
            }
            @media screen and (max-width: 575px) {
                position: static;
            }
        }
    }
    
    .main_share_link {
        .mobile_content {
            background: #EAEAEA !important;
            .share_link_details {
                h2 {
                    font-weight: normal;
                    font-size: 30px;
                    letter-spacing: -0.01em;
                    line-height: 45px;
                    margin: 20px 0 30px 0;
                    @media screen and (max-width: 413px) {
                        margin: 10px 0 10px 0;
                    }
                }
                .message_text {
                    padding: 20px 24px;
                    margin: 20px;
                    border-radius: 5px;
                    background: #fff;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    p {
                        font-family: Roboto;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #000;
                        a {
                            color: #40B9F3;
                            cursor: pointer;
                            font-size: 15px !important;
                            letter-spacing: -1px !important;
                        }
                    }
                }
                .user_profile_img {
                    @media screen and (max-width: 767px) {
                        zoom: 0.8;
                    }
                    @media screen and (max-width: 413px) {
                        zoom: 0.7;
                    }
                    @media screen and (max-width: 374px) {
                        zoom: 0.6;
                    }
                }
            }
        }
        footer {
            z-index: 1;
            position: absolute;
            @media screen and (max-width: 1919px) {
                position: static;
            }
            @media screen and (max-width: 1439px) {
                position: unset;
            }
            @media screen and (max-width:1365px) {
                position: static;
            }
            @media screen and (max-width: 1279px) {
                position: absolute;
            }
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    
    footer {
        padding: 24px 0;
        width: 100%;
        background: #eaeaea;
        position: relative;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 1;
        @media screen and (max-width: 1919px) {
            position: relative;
            z-index: 1;
        }
        @media screen and (max-width: 991px) {
            position: sticky;
            z-index: 1;
        }
        @media screen and (max-width: 575px) {
            height: auto;
            position: static;
        }
        @media screen and (max-width: 575px) {
            padding: 20px 0;
            font-size: 13px;
            line-height: 18px;
        }
        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            text-align: left;
            color: #757575;
            margin: 0 !important;
            @media screen and (max-width: 413px) {
                font-size: 12px !important;
                line-height: 20px !important;
            }
        }
        a {
            font-weight: 500;
            font-size: 14px;
            color: #f99e49;
            margin: 0 !important;
            @media screen and (max-width: 413px) {
                font-size: 12px !important;
                line-height: 20px !important;
            }
            &:hover {
                transform: translateY(-3px);
                transition-duration: 0.3s;
                transition-property: transform;
                color: #f99e49;
            }
        }
    }
    
    .dropdown {
        @media screen and (max-width: 575px) {
            zoom: 0.9;
        }
        .dropdown-togglee::after {
            display: inline-block;
            margin-left: .255em;
            content: url("../images/dropdown_arrow.svg");
            zoom: 0.9;
        }
        .user_name {
            float: left;
            margin: 20px;
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
        .dropdown-menu {
            position: absolute;
            right: 0;
            left: unset;
            padding: 0px 36px;
            background: #fff;
            box-shadow: 0 0 32px rgba(75, 75, 75, 0.2);
            border: none;
            .profile_popup {
                padding: 26px;
                border-bottom: #4b4b4b33 solid 1px;
                .user_profile_img {
                    height: 100px;
                }
                .user_profile_name {
                    margin-top: 20px;
                    font-weight: 500;
                    font-size: 22px;
                    text-align: center;
                    color: #000;
                    text-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
                }
                .user_profile_email {
                    opacity: 0.7;
                    margin: 10px 0 20px 0;
                }
                .view_profile {
                    border-radius: 5px;
                    padding: 7px 32px;
                    background: #008fd5;
                    font-weight: 500;
                    font-size: 16px;
                    text-align: center;
                    color: #fff;
                    &:hover {
                        -webkit-transform: translateY(-3px);
                        transform: translateY(-3px);
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-property: transform;
                        transition-property: transform;
                    }
                }
            }
            .logout_popup {
                padding: 20px;
                .logout {
                    font-weight: 500;
                    font-size: 18px;
                    text-align: left;
                    color: #000;
                    text-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
    
    .call {
        .dashboard_content {
            padding: 26vh 0 26vh 0 !important;
            @media screen and (max-width: 575px) {
                padding: 14vh 0 11vh 0 !important;
            }
        }
        @media screen and (max-width: 575px) {
            footer {
                position: fixed;
                overflow: auto;
            }
        }
    }
    
    .pay {
        margin: 0 15px;
        @media screen and (max-width: 1279px) {}
        h6 {
            margin: 0 auto;
        }
        .appointment_tab {
            margin-top: 40px;
            margin: 0px 3px !important;
            height: 60px;
            border-radius: 0px;
            border: 1px solid #ddd;
            text-align: center;
            align-items: center;
            display: flex;
            margin: 0;
            text-align: center !important;
            width: 100%;
            @media screen and (max-width: 1279px) {
                width: 135px;
                height: 52px;
            }
            @media screen and (max-width: 991px) {
                width: auto;
                height: 60px;
                margin: 10px 15px !important;
            }
            @media screen and (max-width: 575px) {
                width: inherit;
                height: 44px;
            }
            // &:hover {
            //     background: #e9e9e9;
            //     border: 1px solid #ddd;
            // }
            input {
                display: none;
            }
            .appointment_images {
                margin: 0 auto;
            }
        }
        .input_other {
            margin: 0px 10px !important;
            height: 60px;
            border-radius: 30px;
            border: 1px solid #ddd;
            -ms-flex-align: center;
            display: -ms-flexbox;
            text-align: center !important;
            width: 160px;
            @media screen and (max-width: 1279px) {
                width: 135px;
                height: 52px;
            }
            @media screen and (max-width: 991px) {
                width: 85%;
                height: 60px;
                margin: 10px 15px !important;
            }
            @media screen and (max-width: 575px) {
                width: 100%;
            }
            &:focus {
                border: 2px solid #ddd;
                background: #e9e9e9;
                outline: none;
                transition: all 0.3s ease-in-out;
            }
        }
        .selected {
            background: #e9e9e9;
            border: 1px solid #ddd;
        }
        .form-group {
            margin-top: 40px;
            margin: 20px;
            @media screen and (max-width: 575px) {
                width: inherit;
            }
        }
    }
    
    .time {
        border-top: none !important;
    }
    
    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: #008fd5;
        background-color: #008fd5;
    }
    
    .custom-control-input:focus~.custom-control-label::before {
        box-shadow: none;
    }
    
    .contain {
        i.timeslot {
            font-weight: 300;
            color: #000;
        }
        label {
            border-radius: 50px;
            background: #999999;
            padding: 4px 12px;
            text-transform: uppercase;
            font-size: 13px;
            color: #fff;
            margin: 0 0 0 10px;
            ;
            line-height: normal;
        }
    }
    
    .main_appointment {
        .mobile_content {
            .accordion {
                border-top: none !important;
                .card-header {
                    button {
                        &:before {
                            content: url(../images/my_calendar_icon.svg) !important;
                            opacity: 1 !important;
                            right: 0 !important;
                            top: 0 !important;
                            zoom: 1!important;
                            padding: 20px !important;
                            background: #F99E49;
                        }
                    }
                }
            }
        }
    }
    
    .my_calendar {
        .pad_status {
            position: absolute;
            right: 0;
            top: 80px;
            font-size: 14px;
            @media screen and (max-width: 767px) {
                top: 60px;
            }
        }
        .week {
            background: #008fd5;
            border-radius: 5px;
            @media screen and (max-width: 374px) {
                width: 94% !important;
                margin: 0 auto !important;
            }
            span {
                cursor: pointer;
            }
            .select_week {
                padding: 12px 10px 8px;
                font-size: 16px;
                color: #fff;
                @media screen and (max-width: 1023px) {
                    padding: 12px 16px 8px;
                }
                @media screen and (max-width: 767px) {
                    padding: 8px;
                }
                @media screen and (max-width: 374px) {
                    padding: 12px 5px;
                }
                &:hover {
                    background: #F99E49;
                }
                h6 {
                    font-weight: normal;
                    font-size: 13px;
                    color: #fff;
                    opacity: 0.8;
                    @media screen and (max-width: 374px) {
                        font-size: 10px;
                    }
                }
                span {
                    font-weight: normal;
                    font-size: 16px;
                    @media screen and (max-width: 374px) {
                        font-size: 13px;
                    }
                }
            }
            .active {
                background: #F99E49 !important;
                border-radius: 0px;
                font-weight: 500;
                box-shadow: inset 0 0 3px 0px #fbb97c;
            }
            .focus {
                outline: 0 !important;
                box-shadow: none !important;
            }
        }
        .appo_week_div {
            .slot_label {
                border-radius: 11px;
                background: #21d59f;
                font-size: 14px;
                line-height: 24px;
                color: #fff;
                padding: 0px 10px;
                margin-left: 6px;
            }
            select#appo_status,
            option {
                width: auto !important;
                font-size: 14px;
                color: #4b4b4b;
            }
            label.form-check-label {
                font-size: 14px;
                color: #4b4b4b;
            }
            input#dropdownCheck2 {
                width: 16px;
                height: 16px;
            }
        }
        .time_badge_div {
            border-bottom: #e4e4e4 solid 1px;
            padding: 1.5rem 0;
            .time_badge {
                padding: 6px 36px 6px 18px;
                border-radius: 60px;
                border: 1px solid #d8d8d8;
                text-transform: uppercase;
                font-size: 13px;
                line-height: 26px;
                color: #5C5C5C;
                cursor: pointer;
                &:before {
                    content: url(../images/time_badge.svg);
                    position: absolute;
                    right: 21px;
                    top: 4px;
                    cursor: pointer;
                }
            }
            .time_badge.pending {
                background: #ffae64;
                border: 1px solid #f99e49;
                color: #fff;
                &:before {
                    mix-blend-mode: color-dodge;
                }
            }
            .time_badge.approve {
                background: #21d59f;
                border: 1px solid #22bf90;
                color: #fff;
                &:before {
                    mix-blend-mode: color-dodge;
                }
            }
            .time_badge.disable {
                cursor: context-menu;
                mix-blend-mode: luminosity;
                opacity: 0.8;
                &:before {
                    mix-blend-mode: color-dodge;
                }
            }
            .time_badge.selected {
                background: #0000001a;
            }
        }
        @media screen and (max-width: 413px) {
            .appo_week_div.morning,
            .appo_week_div.day,
            .appo_week_div.evening {
                zoom: 0.9;
            }
        }
    }